body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

.lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lists img {
  width: 50%;
  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
button[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"],
input[type="date"] {
  background-color: #fff;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#fechas {
  font-weight: bold;
}
