body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--primary-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: var(--tertiary-color);
}

.encabezados {
  text-align: center;
  margin-bottom: 40px;
}

.encabezados h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.encabezados h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 100%;
  margin-bottom: 40px;
}

section.animate {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

section ul {
  margin: 0;
  padding: 0;
}

section li {
  margin-bottom: 10px;
  line-height: 32px;
}

section img {
  display: block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.theme-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: pointer;
  opacity: 25%;
}

.theme-switch:hover {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  opacity: 100%;
}

a {
  color: var(--secondary-color);
}
